.bookDetails h1{
	text-align: center;
}

.addBookForm input[type="text"] {
	padding: 9px;
	width: 100%;
	font-size: 14px;
	margin: 10px 0px;
	border: 2px solid#EAEEF1;
	color: #666666;
	background:#EAEEF1;
	font-family: 'Open Sans', sans-serif;
	outline:none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 7px;
}
.addBookForm input[type="text"]:hover{
	background:#fff;
	border:2px solid #609EC3;
	outline:none;
}

.addBookForm {
	width: 53%;
	margin: 0 auto;
	padding: 30px;
	background-color: #ccc;
	border-radius: 5px;
	box-shadow: 5px 3px 9px 5px;
}
.searchcontent{position:absolute;right:6%;}
.searchError{text-align: center;font-weight: bold;font-size: 15px;}