<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Login</h3>
    </div>
    <div class="panel-body">
        <form name="frmLogin" ng-submit="submit()">
            <div class="form-group">
                <label for="emailId">Email Id</label>
                <input type="email" name="emailId" ng-model="emailId" placeholder="Enter your mail Id" required>
                <span class="alert alert-danger" ng-show="frmLogin.emailId.$dirty && frmLogin.emailId.$invalid">Please enter a valid email Id</span>
                <label for="UserPassword">Password</label>
                <input type="password" name="userPassword" ng-model="userPassword" placeholder="Enter the password"
                       required>

                <span class="alert alert-danger" ng-show="frmLogin.UserPassword.$error.required"> Password cannot be blank</span>
                </br>
                <button type="submit" class="btn btn-primary">OK</button>
                <button type="reset" class="btn btn-danger">Cancel</button>
                   <a href="#/signup">signup</a>
              
                </br>
                <span class="alert alert-danger" ng-show="invalidUserError"> Either user Id or password is invalid</span>
            </div>
        </form>
    </div>
</div>
   
